@charset "utf-8";
/* CSS Document */

body{
	background-image:url(../img/mars.0_standard_1280.0.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:50% 50%;
}

.header{
	height:3em;
	width:100%;
	margin-bottom:2em;
	padding-top:0.5em;
	position:fixed;
	display:block;
	box-sizing:border-box;
	align-content:center;
	background-color:rgba(95,118,133,0.8);
	color:#FFF;
}

.header a{
	color:#FFF;
}

.header a:hover{
	color:#FFF200;
}


.header-left{
	position:absolute;
	left:1em;
	display:inline-block;
	align-content:center;
	font-size:200%;
	font-style:italic;
}

.header-right{
	position:absolute;
	left:auto;
	right:1em;
	display:inline-block;
	padding-top:0.5em;
	font-family:'Alright Sans', sans-serif;
	font-size:100%;
}

.header-right>span{
	font-size:70%;
}

.header-right .m-explainer__close{
	font-size:125%;
	font-style:italic;
}
.header-right a, .card-footer a{
	padding: 0 0.5em;
}

.header-right a:last-child{
	padding-right: 1em;
}

/*
.header-right a{
	display:inline-block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serfi;
	font-size:14px;
	height: 42px;
	width:42px;
	vertical-align:middle;
	text-align:center;
}

.header-right a i:before{
	display:block;
	padding:15px 0;
}
*/

/* END - Footer */

.one-col, .card-list, .card{
	box-sizing:border-box;
	margin-top:5em;
}

/* Card list*/
.card-list{
	position: fixed;
	left: 2em;
}

.card-list-container{
	background-color:#fff200;
	margin-right:20%;
}

.m-explainer-header{
	height:16em;
	padding:15% 10%;
}

.m-explainer__toc-scroller{
	text-align:center;
	background-color:#2a2a2a;
	color:#777;
	cursor:pointer;
	line-height:1;
}

.m-explainer__toc{
	padding:1em;
	background-color:#313131;
	color:#666;
	overflow:auto;
	list-style:none;
	height:18em;
}
/* END - Card List*/

/* Card viewer */
.card{
	background-color:#fff;
	margin-right:4em;
}

.card-header, .card-footer{
	height:2em;
	box-sizing:border-box;
	color:#888;
}

.card-header{
	background-color:rgb(255, 242, 0);
}

.card-footer{
	border-top:1px solid #888;
}

.card-text{
	padding: 10% 10%;	
}

a{
	text-decoration: none;
	display: inline;
	font-family: inherit;
}

.m-explainer-previous{
	height: 100%;
	width: 5%;
	position:relative;
	left:0.5em;
	top:-2px;
	text-align: left;
	float: left;
	font-size: 1.75em;
	font-style: normal;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:#888;
}

.m-explainer-next{
	height: 100%;
	width: 5%;
	position:relative;
	left:auto;
	top:-2px;
	right:0.5em;
	text-align: right;
	float: left;
	font-size: 1.75em;
	font-style: normal;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:#888;
}


.m-explainer-card-count, .m-explainer-card-social{
	height:100%;
	width:90%;
	margin:0;
	text-align:center;
	display:inline-block;
	float:left;
	font-size:1em;
	padding-top:0.5em;
}


.m-explainer-card-social{
	height:100%;
	width:90%;
	margin:0;
	text-align:center;
	display:inline-block;
	float:left;
	font-size:75%;
	padding-top:0.7em;
}
